@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;600;700&display=swap");

.body_container {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Proza Libre", sans-serif;
}
