video {
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: fill;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -2;
}

.video_overlay {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
