@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

.header_text {
  font-family: "Mansalva", cursive;
  text-align: center;
  font-size: 80px;
}
.header_greeting {
  font-size: 80px;
}
.header {
  width: calc(100vw - 40px);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: white;
  flex-direction: row;
  font-family: "Playfair Display", serif;
  top: 0;
  background-color: rgba(26, 18, 78, 0.8);
}
.header_brand {
  font-size: x-large;
  align-items: baseline;
}
.header_bio {
  padding: 10px;
  font-size: 20px;
  font-family: "Proza Libre", sans-serif;
}

.header_nav_container {
  display: flex;
  flex-direction: row;
}
.header_nav {
  margin-left: 5px;
  margin-right: 5px;
}
