@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap");

$font: "IBM Plex Mono", monospace;
$background_color: #090909;
$foreground_color: #ffffff;
$light_gray: #cccccc;
$dark_gray: #808080;
