@import "./style/theme.scss";
.sidebar_container {
}
.home_container {
  display: flex;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: row;
  background-color: $background_color;
  color: $foreground_color;
  width: 100vw;
  height: 100vh;
}
